@font-face {
  font-family: "TTInterfaces";
  src: url("../fonts/TTInterfaces-DemiBol.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BetterVCR";
  src: url("../fonts/better-vcr51.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
