.container {
  width: 100vw;
  overflow: hidden;
}

.sc-main {
  position: relative;
  width: 100vw;
  height: 127vh;
  /* height: 1152px; */
  /* height: calc(100vw * 0.6); */
  max-width: 100%;
  min-height: 720px;
  color: #fdf8f1;
  background-image: radial-gradient(
    circle at center,
    rgba(190, 190, 190, 1) 0%,
    rgba(106, 105, 105, 1) 100%
  );
}
.sc-main::before {
  display: block;
  content: "";
  width: 956px;
  height: 956px;
  margin: 0 auto;
  filter: blur(50px);
  border-radius: 3000px;
  background-image: radial-gradient(
    circle at center,
    rgba(231, 231, 231, 1) 0%,
    rgba(231, 231, 231, 0) 100%
  );
}
.sc-main .award-list {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 26%;
  top: 14%;
  left: 3%;
  gap: 10px;
}
.sc-main .award-list li {
  width: 100%;
}
.sc-main .award-list li a {
  display: block;
  width: 100%;
  min-width: 73px;
  background: no-repeat center / cover;
  cursor: pointer;
}
.sc-main .award-list li a::before {
  display: block;
  content: "";
  padding-top: 100%;
}
.sc-main .award-list .award-item1 a {
  background-image: url("../imgs/award1.png");
}
.sc-main .award-list .award-item2 a {
  background-image: url("../imgs/award2.png");
}
.sc-main .award-list .award-item3 a {
  background-image: url("../imgs/award3.png");
}
.sc-main .award-list .award-item4 a {
  background-image: url("../imgs/award4.png");
}
.sc-main .text-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 19%;
  left: 3%;
  bottom: 24%;
  font-weight: 300;
  text-transform: uppercase;
}
.sc-main .text-wrapper p:first-child {
  font-size: 1.3vw;
  padding-bottom: 3%;
}
.sc-main .text-wrapper p:nth-child(2) {
  font-size: 0.8vw;
  padding-bottom: 12%;
}
.sc-main .anchor-link {
  display: block;
  position: relative;
  width: 89%;
  padding-top: 22%;
  background: url("../imgs/start1.png") no-repeat center / cover;
  transition: all 0.3s ease-in-out;
}
.sc-main .anchor-link:hover {
  background: url("../imgs/start2.png") no-repeat center / cover;
}
.sc-main .anchor-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
}
.sc-main .center-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}
.sc-main .center-section .atom {
  position: absolute;
  width: 84%;
  /* width: 1005px; */
  top: 8%;
  /* z-index: 1; */
}
.sc-main .right-section .site-of-the-day {
  position: absolute;
  top: 14%;
  right: 0;
  width: 4%;
  padding-top: 8%;
  background: url("../imgs/siteoftheday.png") no-repeat center / cover;
}
.sc-main .right-section .honors {
  position: absolute;
  top: 37%;
  right: 0;
  zoom: var(--zoom);
}
.sc-main .right-section .description {
  position: absolute;
  bottom: 24%;
  right: 5%;
  font-weight: 300;
  text-transform: uppercase;
}
.sc-main .bottom-section strong {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10vw;
  font-weight: 300;
  letter-spacing: -4px;
}
.sc-main .bottom-section strong span {
  color: rgb(255, 202, 32);
}

.sc-beginning {
  position: relative;
  width: 100vw;
  /* height: 2302px; */
  /* height: calc(100vw * 1.199); */
  height: 120vh;
  max-width: 100%;
  background-color: #ffca20;
  /* overflow: hidden; */
  z-index: -1;
}
/* 공통 label */
.label {
  position: absolute;
  color: #ffca20;
  font-size: 1.3vw;
  line-height: 1.3;
  font-weight: 400;
}
/* 공통 title */
.sub-title,
.title {
  position: absolute;
  color: #fdf8f1;
  font-size: 2.5vw;
  line-height: 1.26;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
/* 공통 description */
.description {
  position: absolute;
  font-size: 1.3vw;
  line-height: 1.3;
  font-weight: 400;
  color: #fdf8f1;
}
.sc-beginning .label {
  top: 15%;
  left: 3%;
  width: 158px;
  color: #193261;
}
.sc-beginning .title {
  top: 15%;
  left: 20%;
  color: #193261;
}
.sc-beginning .description {
  top: 34%;
  left: 42%;
  color: #193261;
}
@keyframes satelliteAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-96px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spaceshipAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(0);
  }
}
.sc-beginning .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-beginning .satellite {
  left: -43px;
  top: 246px;
  width: 206px;
  animation: satelliteAnimation 25s linear infinite;
}
.sc-beginning .spaceship {
  left: 891px;
  top: -64px;
  width: 471px;
  animation: spaceshipAnimation 20s linear infinite;
}
.sc-beginning .alien1 {
  left: -156px;
  top: 511px;
  width: 152px;
  z-index: 1;
}
.sc-beginning .alien2 {
  right: -117px;
  top: 510px;
  width: 152px;
  z-index: 1;
}
.sc-beginning .block-bottom {
  width: 130%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
}

/* blue-bg-group
sc-since: 135vh,
sc-creator: 245vh
sc-first-sets: 150vh
 */
.sc-since {
  position: relative;
  width: 100vw;
  height: 135vh;
}
.sc-since::before {
  position: absolute;
  width: 100vw;
  height: 530vh;
  top: 0;
  left: 0;
  content: "";
  background-color: #0e1730;
}
.sc-since::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 530vh;
  background: url("../imgs/space-bg3.png") repeat-y center / cover;
}
.sc-since .content-area > * {
  position: absolute;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  z-index: 1;
}
.sc-since .content-area #year-1978 {
  top: 25%;
  left: 3%;
  color: #ffca20;
  font-size: 8.8vw;
}
.sc-since .content-area .title {
  top: 45%;
  left: 20%;
}
.sc-since .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-since .block-top {
  top: -50px;
  width: 130%;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  z-index: 1;
}
.sc-since .ufo {
  left: 1282px;
  top: -145px;
  width: 479px;
  z-index: 2;
}
.sc-since .spaceship2 {
  width: 618px;
  top: 396px;
  left: 245px;
  transform: rotate(355deg);
  z-index: 2;
}
.sc-since .planet {
  width: 286px;
  top: 226px;
  right: 0;
  transform: rotate(355deg);
  animation: planetAnimation 30s linear infinite;
  z-index: 1;
}
@keyframes planetAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(215px);
  }
  100% {
    transform: translateY(0);
  }
}

.sc-creator {
  position: relative;
  width: 100vw;
  /* height: 3648px; */
  /* height: calc(100vw * 1.9); */
  height: 245vh;
  max-width: 100%;
  /* background-color: #0e1730; */
}
.sc-creator .top-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sc-creator .label {
  top: 7%;
  left: 3%;
}
.sc-creator .title .first-line {
  position: absolute;
  top: 3vw;
  left: 47vw;
  width: 997px;
}
/* 공통 */
em {
  color: rgb(255, 202, 32);
}
.sc-creator .title .second-line {
  position: absolute;
  /* width: 349px; */
  font-size: 8.8vw;
  /* line-height: 134px; */
  z-index: 1;
}
.sc-creator .title .second-line span {
  position: absolute;
  top: 9vw;
}
.sc-creator .title .second-line span:first-child {
  left: 3vw;
}
.sc-creator .title .second-line span:nth-child(2) {
  left: 53vw;
}
.sc-creator .title .second-line span:last-child {
  top: 19vw;
  left: 41vw;
}
.sc-creator .top-section .description {
  top: 30.5vw;
  left: 41.5vw;
}
.sc-creator .creator-area::before {
  position: absolute;
  content: "";
  zoom: var(--zoom);
  left: 353px;
  top: 43px;
  width: 272px;
  height: 272px;
  background: url("../svgs/creator-planet-bg.svg") no-repeat center / cover;
}
/* .sc-creator .creator-area::after {
  position: absolute;
  content: "";
  zoom: var(--zoom);
  width: 839px;
  left: 68px;
  top: 8px;
  height: 572px;
  background: url("../imgs/creator-bg.png") no-repeat center / cover;
} */
.sc-creator .creator {
  position: absolute;
  zoom: var(--zoom);
  width: 173px;
  left: 365px;
  top: 79px;
  height: 234px;
  background: url("../imgs/creator.png") no-repeat center / cover;
  transform: rotate(-9deg);
}
.sc-creator .top-section .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-creator .top-section .ufo2 {
  left: -61px;
  top: 169px;
  /* top: 0; */
  /* left: 0; */
  width: 440px;
}
.sc-creator .top-section .ufo3 {
  width: 583px;
  top: 226px;
  left: -620px;
  transform: rotate(334deg);
  z-index: 6;
}
.sc-creator .bottom-section {
  position: relative;
  width: 100vw;
  height: 150vh;
}
.sc-creator .bottom-section strong {
  position: absolute;
  top: 8vw;
  left: 58vw;
  /* width: 423px; */
  color: #ffca20;
  font-size: 2.5vw;
  line-height: 1.27;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  /* z-index: 4; */
}
.sc-creator .bottom-section .description {
  top: 12vw;
  left: 58vw;
  /* width: 359px; */
  /* z-index: 4; */
}
.sc-creator .parts-area [class*="circle-"] {
  position: absolute;
  content: "";
  zoom: var(--zoom);
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background-color: #88b2e0;
}
.sc-creator .parts-area .circle-yellow {
  left: 172px;
  top: 406px;
}
.sc-creator .parts-area .circle-gray {
  left: 419px;
  top: 180px;
}
.sc-creator .parts-area .circle-blue {
  left: 1020px;
  top: 436px;
}
.sc-creator .parts-area span {
  position: absolute;
  color: #fdf8f1;
  /* font-size: 1.3vw; */
  font-weight: 400;
  top: -28px;
  left: 44px;
}
.sc-creator .parts-area img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sc-creator .yellow-parts {
  width: 108px;
}
.sc-creator .gray-parts {
  width: 108px;
}
.sc-creator .blue-parts {
  width: 137px;
}
@keyframes yellowLegoAnimation {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  16% {
    transform: translateX(8px) translateY(-163px) rotate(25deg);
  }
  32% {
    transform: translateX(-75px) translateY(-163px) rotate(25deg);
  }
  48% {
    transform: translateX(-75px) translateY(-41px) rotate(25deg);
  }
  64% {
    transform: translateX(-15px) translateY(-41px) rotate(25deg);
  }
  80% {
    transform: translateX(0) translateY(-103px) rotate(25deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(25deg);
  }
}
@keyframes whiteLegoAnimation {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  16% {
    transform: translateX(8px) translateY(-84px) rotate(0);
  }
  32% {
    transform: translateX(-138px) translateY(-70) rotate(-20deg);
  }
  48% {
    transform: translateX(-138px) translateY(41px) rotate(-20deg);
  }
  64% {
    transform: translateX(-50) translateY(41px) rotate(20deg);
  }
  80% {
    transform: translateX(-50) translateY(-126px) rotate(20deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}
@keyframes blueLegoAnimation {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  14% {
    transform: translateX(64px) translateY(-50px) rotate(0deg);
  }
  28% {
    transform: translateX(156px) translateY(-1px) rotate(25deg);
  }
  42% {
    transform: translateX(277px) translateY(-1px) rotate(25deg);
  }
  56% {
    transform: translateX(274px) translateY(-72px) rotate(-25deg);
  }
  70% {
    transform: translateX(96px) translateY(-62px) rotate(-20deg);
  }
  84% {
    transform: translateX(96px) translateY(-62px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}
@keyframes planet2Animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-357px);
  }
  50% {
    transform: translateX(0) translateY(42px);
  }
  75% {
    transform: translateX(-144px) translateY(-133px);
  }
  100% {
    transform: translateX(74px) translateY(-204px);
  }
}
.sc-creator .spaceship-area img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-creator .spaceship-area .yellow-lego {
  left: 339px;
  top: 440px;
  width: 156px;
  z-index: 6;
  animation: yellowLegoAnimation 40s ease-in-out infinite;
}
.sc-creator .spaceship-area .white-lego {
  left: 570px;
  top: 338px;
  width: 99px;
  z-index: 6;
  animation: whiteLegoAnimation 40s ease-in-out infinite;
}
.sc-creator .spaceship-area .blue-lego {
  left: 799px;
  top: 226px;
  width: 99px;
  z-index: 6;
  animation: blueLegoAnimation 40s ease-in-out infinite;
}
.sc-creator .spaceship-area .planet2 {
  left: -118px;
  top: 471px;
  width: 198px;
  animation: planet2Animation 60s ease-in-out infinite;
}
.sc-creator .spaceship-area .spaceship3 {
  left: 275px;
  top: 264px;
  width: 680px;
  z-index: 5;
}

.sc-first-sets {
  position: relative;
  width: 100vw;
  height: 150vh;
}
.sc-first-sets .content-area .label {
  top: 0;
  left: 3%;
}
.sc-first-sets .content-area .title {
  top: 0;
  left: 20%;
}
.sc-first-sets .content-area .description {
  top: 12%;
  left: 41%;
}
.sc-first-sets .content-area .description2 {
  position: absolute;
  top: 33%;
  left: 20%;
  color: #fdf8f1;
  font-size: 1vw;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.sc-first-sets .table-area::before {
  position: absolute;
  content: "";
  zoom: var(--zoom);
  width: 3558px;
  left: -1558px;
  bottom: -9px;
  height: 221px;
  background: url("../imgs/table.png") no-repeat center / cover;
}
.sc-first-sets .lego-set {
  position: absolute;
  left: -138px;
  bottom: 96px;
  width: 609px;
  zoom: var(--zoom);
  z-index: 4;
}
.sc-first-sets .boy {
  position: absolute;
  zoom: var(--zoom);
  left: 297px;
  bottom: -238px;
  width: 1392px;
  max-width: none;
  z-index: 4;
}
.sc-first-sets .shuttle {
  position: absolute;
  zoom: var(--zoom);
  width: 230px;
  left: 1281px;
  top: 553px;
  height: 230px;
  background: url("../imgs/shuttle.png") no-repeat center / cover;
  z-index: 4;
}
.sc-first-sets [class*="pile-"] {
  position: absolute;
  zoom: var(--zoom);
  background: no-repeat center / cover;
}
.sc-first-sets .pile-y1 {
  width: 185px;
  left: 808px;
  top: 647px;
  height: 147px;
  z-index: 34;
  background-image: url("../imgs/parts1.png");
  transform: rotate(346deg);
}
.sc-first-sets .pile-y2 {
  width: 185px;
  left: 826px;
  top: 675px;
  height: 147px;
  z-index: 35;
  background-image: url("../imgs/parts1.png");
  transform: rotate(135deg);
}
.sc-first-sets .pile-y3 {
  width: 185px;
  left: 894px;
  top: 604px;
  height: 147px;
  z-index: 33;
  background-image: url("../imgs/parts1.png");
  transform: rotate(125deg);
}
.sc-first-sets .pile-y4 {
  width: 185px;
  left: 968px;
  top: 665px;
  height: 147px;
  z-index: 41;
  background-image: url("../imgs/parts1.png");
  transform: rotate(162deg);
}
.sc-first-sets .pile-dg1 {
  width: 85px;
  left: 896px;
  top: 722px;
  height: 100px;
  z-index: 37;
  background-image: url("../imgs/parts2.png");
  transform: rotate(234deg);
}
.sc-first-sets .pile-dg2 {
  width: 73px;
  left: 895px;
  top: 669px;
  height: 76px;
  z-index: 30;
  background-image: url("../imgs/parts2.png");
  transform: rotate(147deg);
}
.sc-first-sets .pile-dg3 {
  width: 73px;
  left: 968px;
  top: 665px;
  height: 76px;
  z-index: 29;
  background-image: url("../imgs/parts2.png");
  transform: rotate(162deg);
}
.sc-first-sets .pile-dg4 {
  width: 73px;
  left: 1030px;
  top: 645px;
  height: 76px;
  z-index: 38;
  background-image: url("../imgs/parts2.png");
  transform: rotate(330deg);
}
.sc-first-sets .pile-g1 {
  width: 72px;
  left: 833px;
  top: 673px;
  height: 75px;
  z-index: 40;
  background-image: url("../imgs/parts3.png");
  transform: rotate(228deg);
}
.sc-first-sets .pile-g2 {
  width: 63px;
  left: 905px;
  top: 667px;
  height: 66px;
  z-index: 36;
  background-image: url("../imgs/parts4.png");
  transform: rotate(198deg);
}
.sc-first-sets .pile-g3 {
  width: 63px;
  left: 925px;
  top: 706px;
  height: 66px;
  z-index: 32;
  background-image: url("../imgs/parts4.png");
  transform: rotate(137deg);
}
.sc-first-sets .pile-g4 {
  width: 63px;
  left: 1011px;
  top: 721px;
  height: 66px;
  z-index: 39;
  background-image: url("../imgs/parts4.png");
  transform: rotate(20deg);
}
.sc-first-sets .pile-g5 {
  width: 72px;
  left: 939px;
  top: 716px;
  height: 75px;
  z-index: 42;
  background-image: url("../imgs/parts3.png");
  transform: rotate(20deg);
}

/* dark-bg-group */
.sc-classic-space {
  position: relative;
  width: 100vw;
  height: 350vh;
  /* height: 3104px; */
  /* height: calc(100vw * 1.617); */
  max-width: 100%;
  background: #121023;
}
.sc-classic-space::before {
  display: block;
  width: inherit;
  height: inherit;
  content: "";
  background: url("../imgs/space-bg2.png") repeat-y center / cover;
}
.sc-classic-space .top-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 42;
}
.sc-classic-space .title {
  top: 25%;
  left: 20%;
}
.sc-classic-space .classic-space-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.sc-classic-space .classic-space-list li {
  display: flex;
  flex-direction: column;
  position: absolute;
  zoom: var(--zoom);
  background: no-repeat center / cover;
}
.sc-classic-space .classic-space-list li .first-line {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -42px;
  left: 14px;
  width: 346px;
}
.sc-classic-space .classic-space-list li .second-line {
  position: absolute;
  bottom: -76px;
  left: 14px;
}
.sc-classic-space .classic-space-list li strong {
  color: #dbdbdb;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
}
.sc-classic-space .classic-space-list li span {
  color: #dbdbdb;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  text-transform: uppercase;
}
.sc-classic-space .classic-space-list li p {
  color: #dbdbdb;
  font-size: 10px;
  line-height: 1.3;
  font-weight: 400;
}
.sc-classic-space .classic-space-list .classic-space-item1 {
  left: 26px;
  top: 293px;
  width: 370px;
  height: 282px;
  background-image: url("../imgs/classic-space1.png");
}
.sc-classic-space .classic-space-list .classic-space-item2 {
  left: 481px;
  top: 293px;
  width: 346px;
  height: 278px;
  background-image: url("../imgs/classic-space2.png");
}
.sc-classic-space .classic-space-list .classic-space-item3 {
  left: 892px;
  top: 343px;
  width: 384px;
  height: 230px;
  background-image: url("../imgs/classic-space3.png");
}
.sc-classic-space .classic-space-list .classic-space-item4 {
  left: 1339px;
  top: 292px;
  width: 370px;
  height: 282px;
  background-image: url("../imgs/classic-space4.png");
}
.sc-classic-space .classic-space-list .classic-space-item5 {
  left: 1778px;
  top: 300px;
  width: 345px;
  height: 276px;
  background-image: url("../imgs/classic-space5.png");
}

.sc-classic-space .bottom-section {
  position: absolute;
  width: 100vw;
  height: 124vh;
  top: 225vh;
  left: 0;
  /* height: 1120px; */
  /* height: calc(100vw * 0.583); */
}
.sc-classic-space .bottom-section #year-1987 {
  position: absolute;
  top: 14%;
  left: 3%;
  color: #ffca20;
  font-size: 8.8vw;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
.sc-classic-space .bottom-section .sub-title {
  top: 36%;
  left: 20%;
}
.sc-classic-space .bottom-section .description {
  position: absolute;
  top: 58%;
  left: 41%;
  color: #fdf8f1;
  font-size: 1vw;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.sc-classic-space .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-classic-space .bottom-section .big-blue-lego {
  left: 81px;
  top: 374px;
  width: 238px;
}
.sc-classic-space .bottom-section .cruiser {
  left: 610px;
  top: 127px;
  width: 858px;
}
.sc-classic-space .bottom-section .yellow-block {
  width: 115%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  z-index: 2;
}

/* blue-bg-group-2 
sc-spacesuits: 160vh
sc-lego-value: 140vh
sc-2011: 240vh
*/
.sc-spacesuits {
  position: relative;
  width: 100vw;
  height: 160vh;
  /* height: 1472px; */
  /* height: calc(100vw * 0.767); */
  max-width: 100%;
  background-color: #16244a;
}
.sc-spacesuits::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 540vh;
  top: 0;
  left: 0;
  /* width: 1260px; */
  /* height: 2774px; */
  /* left: -30px; */
  background: url("../imgs/space-bg3.png") repeat-y center / cover;
  z-index: 1;
}
.sc-spacesuits::after {
  position: absolute;
  content: "";
  width: 1655px;
  height: 463px;
  left: -227px;
  top: 460px;
  zoom: var(--zoom);
  max-width: none;
  background: url("../imgs/ground-bg.png") no-repeat center / cover;
  z-index: 1;
}
.sc-spacesuits .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-spacesuits .alien1 {
  left: -156px;
  top: 16px;
  width: 102px;
  z-index: 1;
}
.sc-spacesuits .alien2 {
  left: 1160px;
  top: 15px;
  width: 107px;
  z-index: 1;
}
.sc-spacesuits .yellow-white-block {
  top: -50px;
  width: 130%;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  z-index: 1;
}
.sc-spacesuits .follow-ufo {
  left: 379px;
  top: -17px;
  width: 450px;
  pointer-events: none;
  z-index: 3;
  transition: transform 0.3s ease;
}
.sc-spacesuits .label {
  top: 43%;
  left: 3%;
  z-index: 4;
}
.sc-spacesuits .title {
  width: 100%;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 4;
}
.sc-spacesuits .colors-area [class*="bubble-"] {
  display: flex;
  justify-content: center;
  position: absolute;
  /* zoom: var(--zoom); */
  width: 129px;
  height: 74px;
  top: 32%;
  left: 70%;
  background: url("../svgs/bubble.svg") no-repeat center / cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sc-spacesuits .colors-area [class*="text-"] {
  color: #0e1730;
  font-size: 15px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sc-spacesuits [class*="bubble-"].show {
  opacity: 1;
}
.sc-spacesuits [class*="text-"].show {
  opacity: 1;
}
.sc-spacesuits .colors-area > div {
  position: absolute;
  width: 253px;
  height: 453px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease-in-out;
  zoom: var(--zoom);
  z-index: 2;
}
.sc-spacesuits .colors-area > div.show {
  transform: translateY(-40px);
}
.sc-spacesuits .colors-area .scientist {
  left: 20px;
  top: 419px;
  background-image: url("../imgs/scientist.png");
  background-size: 253px;
}
.sc-spacesuits .colors-area .bad {
  left: 248px;
  top: 423px;
  background-image: url("../imgs/bad-astronaut.png");
  background-size: 283px;
}
.sc-spacesuits .colors-area .good {
  left: 474px;
  top: 418px;
  background-image: url("../imgs/good-astronaut.png");
  background-size: 181px 273px;
}
.sc-spacesuits .colors-area .mechanic {
  left: 701px;
  top: 418px;
  background-image: url("../imgs/mechanic.png");
  background-size: 164px 349px;
}
.sc-spacesuits .colors-area .soldier {
  left: 921px;
  top: 415px;
  background-image: url("../imgs/soldier.png");
  background-size: 262px 263px;
}
.sc-spacesuits .colors-area .bubble-soldier {
  top: 149px;
  left: 137px;
}

.sc-lego-value {
  position: relative;
  width: 100%;
  height: 140vh;
  /* height: 1200px; */
  /* height: calc(100vw * 0.625); */
  max-width: 100%;
  background-color: #16244a;
}
.sc-lego-value .title {
  top: 1%;
  left: 20%;
  z-index: 1;
}
.sc-lego-value .description {
  top: 16%;
  left: 41%;
  z-index: 1;
}
.sc-lego-value .photo {
  position: absolute;
  left: 240px;
  top: 161px;
  width: 780px;
  zoom: var(--zoom);
  z-index: 1;
}
.sc-lego-value .attach {
  position: absolute;
  left: 777px;
  top: 125px;
  width: 211px;
  zoom: var(--zoom);
  z-index: 1;
}

.sc-2011 {
  position: relative;
  width: 100vw;
  height: 240vh;
  /* height: 3760px; */
  /* height: calc(100vw * 1.958); */
  max-width: 100%;
  background-color: #16244a;
}
.sc-2011 .top-section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.sc-2011 .label {
  top: 2vw;
  left: 3vw;
}
.sc-2011 .title {
  top: 2vw;
  left: 20vw;
}
.sc-2011 .description {
  top: 6vw;
  left: 33vw;
}
.sc-2011 .rocket {
  position: absolute;
  zoom: var(--zoom);
  width: 572px;
  left: 1206px;
  top: -250px;
  height: 802px;
  background: url("../imgs/rocket.png") no-repeat center / cover;
  z-index: 1;
}
.sc-2011 .boarding-line img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-2011 .boarding-line .mechanic {
  left: 452px;
  top: 247px;
  width: 123px;
}
.sc-2011 .boarding-line .good {
  left: 274px;
  top: 275px;
  width: 135px;
}
.sc-2011 .boarding-line .bad {
  left: 65px;
  top: 276px;
  width: 212px;
}
.sc-2011 .boarding-line .scientist {
  left: -95px;
  top: 284px;
  width: 189px;
}
.sc-2011 .boarding-line .atom {
  left: -280px;
  top: 280px;
  width: 200px;
}
.sc-2011 .boarding-line .alien2 {
  left: -439px;
  top: 287px;
  width: 150px;
}
.sc-2011 .boarding-line .alien3 {
  left: -621px;
  top: 286px;
  width: 134px;
}
.sc-2011 .boarding-line .alien4 {
  left: -812px;
  top: 283px;
  width: 140px;
}
.sc-2011 .bottom-section {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 140vh;
}
.sc-2011 .bottom-section strong {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  /* zoom: var(--zoom); */
  /* top: 176px; */
  color: #ffca20;
  font-size: 2.5vw;
  line-height: 1.26;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
}
.sc-2011 .bottom-section .img-wrapper img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-2011 .img-wrapper .arrow {
  top: 245px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  animation: arrowAnimation 3s ease-in-out infinite;
}
.sc-2011 .bottom-section strong.hide,
.sc-2011 .img-wrapper .arrow.hide {
  opacity: 0;
}
.sc-2011 .img-wrapper .main-console {
  width: 103.6%;
  /* width: 1244px; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  z-index: 1;
}
.sc-2011 .img-wrapper .characters {
  left: 422px;
  /* top: 447px; */
  bottom: 181px;
  width: 262px;
  pointer-events: none;
  z-index: 2;
}
.sc-2011 .img-wrapper .planet2 {
  left: 936px;
  top: 111px;
  width: 198px;
  z-index: 1;
  animation: bluePlanetAnimation 60s linear infinite;
}
.sc-2011 .img-wrapper .planet3 {
  left: 3px;
  top: -67px;
  width: 356px;
  z-index: 1;
  animation: greenPlanetAnimation 60s linear infinite;
}
@keyframes arrowAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes bluePlanetAnimation {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  25% {
    transform: translateX(1px) translateY(-357px);
  }

  50% {
    transform: translateX(1px) translateY(42px);
  }

  75% {
    transform: translateX(-144px) translateY(-133px);
  }

  100% {
    transform: translateX(74px) translateY(-204px);
  }
}
@keyframes greenPlanetAnimation {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(1px) translateY(144px);
  }
  50% {
    transform: translateX(1px) translateY(-144px);
  }
  75% {
    transform: translateX(161px) translateY(-36px);
  }
  100% {
    transform: translateX(-161px) translateY(-36px);
  }
}
.sc-2011 .pick-the-characters img {
  position: absolute;
  zoom: var(--zoom);
}
.sc-2011 .pick-the-characters .btn-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  /* top: 727px; */
  left: 430px;
  bottom: 180px;
  gap: 8px;
  zoom: var(--zoom);
}
.sc-2011 .pick-the-characters button {
  width: 55px;
  height: 78px;
  border-radius: 6px;
  background-color: #fdf8f1;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.sc-2011 .pick-the-characters button:hover {
  opacity: 1;
}
.sc-2011 .pick-the-characters button.show {
  opacity: 1;
  background-color: #88b2e0;
}
.sc-2011 .pick-the-characters img {
  opacity: 0;
}
.sc-2011 .pick-the-characters img.show {
  opacity: 1;
}
.sc-2011 .pick-the-characters .good {
  left: 410px;
  top: 188px;
  width: 127px;
  z-index: 2;
  animation: goodAnimation 50s linear infinite;
}
.sc-2011 .pick-the-characters .scientist {
  left: 587px;
  top: 182px;
  width: 170px;
  z-index: 2;
  animation: scientistAnimation 50s linear infinite;
}
.sc-2011 .pick-the-characters .bad {
  left: 191px;
  top: 167px;
  width: 199px;
  z-index: 2;
  animation: badAnimation 50s linear infinite;
}
.sc-2011 .pick-the-characters .mechanic {
  left: 848px;
  top: 186px;
  width: 112px;
  z-index: 2;
  animation: mechanicAnimation 50s linear infinite;
}
.sc-2011 .pick-the-characters .atom {
  left: 736px;
  top: 111px;
  width: 170px;
  z-index: 2;
  animation: atomAnimation2 50s linear infinite;
}
.sc-2011 .pick-the-characters .alien3 {
  left: 93px;
  top: 257px;
  width: 111px;
  z-index: 2;
  animation: alien3Animation 50s linear infinite;
}
.sc-2011 .pick-the-characters .alien4 {
  left: 499px;
  top: 84px;
  width: 111px;
  z-index: 2;
  animation: alien4Animation 50s linear infinite;
}
.sc-2011 .pick-the-characters .alien2 {
  left: 1002px;
  top: 133px;
  width: 111px;
  z-index: 2;
  animation: alien2Animation 50s linear infinite;
}
@keyframes goodAnimation {
  0% {
    transform: translateY(0px) rotate(17deg);
  }
  1% {
    transform: translateY(0px) rotate(17deg);
  }
  2% {
    transform: translateY(0px) rotate(17deg);
  }
  18% {
    transform: translateY(52px) rotate(17deg);
  }
  34% {
    transform: translateY(-52px) rotate(17deg);
  }
  50% {
    transform: translateY(52px) rotate(17deg);
  }
  66% {
    transform: translateY(-52px) rotate(17deg);
  }
  82% {
    transform: translateY(52px) rotate(17deg);
  }
  100% {
    transform: translateY(-52px) rotate(17deg);
  }
}
@keyframes scientistAnimation {
  0% {
    transform: translateY(0px) rotate(337deg);
  }
  1% {
    transform: translateY(0px) rotate(337deg);
  }
  2% {
    transform: translateY(0px) rotate(337deg);
  }
  18% {
    transform: translateY(-52px) rotate(337deg);
  }
  34% {
    transform: translateY(52px) rotate(337deg);
  }
  50% {
    transform: translateY(-52px) rotate(337deg);
  }
  66% {
    transform: translateY(52px) rotate(337deg);
  }
  82% {
    transform: translateY(-52px) rotate(337deg);
  }
  100% {
    transform: translateY(52px) rotate(337deg);
  }
}
@keyframes badAnimation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  1% {
    transform: translateX(0px) rotate(15deg);
  }
  2% {
    transform: translateX(0px) rotate(15deg);
  }
  18% {
    transform: translateX(-71px) rotate(15deg);
  }
  34% {
    transform: translateX(71px) rotate(15deg);
  }
  50% {
    transform: translateX(-71px) rotate(15deg);
  }
  66% {
    transform: translateX(71px) rotate(15deg);
  }
  82% {
    transform: translateX(-71px) rotate(15deg);
  }
  100% {
    transform: translateX(71px) rotate(15deg);
  }
}
@keyframes mechanicAnimation {
  0% {
    transform: translateY(0px) rotate(18deg);
  }
  1% {
    transform: translateY(0px) rotate(18deg);
  }
  2% {
    transform: translateY(0px) rotate(18deg);
  }
  18% {
    transform: translateY(-48px) rotate(18deg);
  }
  34% {
    transform: translateY(48px) rotate(18deg);
  }
  50% {
    transform: translateY(-48px) rotate(18deg);
  }
  66% {
    transform: translateY(48px) rotate(18deg);
  }
  82% {
    transform: translateY(-48px) rotate(18deg);
  }
  100% {
    transform: translateY(48px) rotate(18deg);
  }
}
@keyframes atomAnimation2 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(12deg);
  }
  1% {
    transform: translateX(0px) translateY(0px) rotate(12deg);
  }
  2% {
    transform: translateX(0px) translateY(0px) rotate(12deg);
  }
  18% {
    transform: translateX(-30px) translateY(-29px) rotate(12deg);
  }
  34% {
    transform: translateX(30px) translateY(29px) rotate(12deg);
  }
  50% {
    transform: translateX(-30px) translateY(-29px) rotate(12deg);
  }
  66% {
    transform: translateX(30px) translateY(29px) rotate(12deg);
  }
  82% {
    transform: translateX(-30px) translateY(-29px) rotate(12deg);
  }
  100% {
    transform: translateX(30px) translateY(29px) rotate(12deg);
  }
}
@keyframes alien3Animation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  1% {
    transform: translateX(0px) rotate(15deg);
  }
  2% {
    transform: translateX(0px) rotate(15deg);
  }
  18% {
    transform: translateX(55px) rotate(15deg);
  }
  34% {
    transform: translateX(-55px) rotate(15deg);
  }
  50% {
    transform: translateX(55px) rotate(15deg);
  }
  66% {
    transform: translateX(-55px) rotate(15deg);
  }
  82% {
    transform: translateX(55px) rotate(15deg);
  }
  100% {
    transform: translateX(-55px) rotate(15deg);
  }
}
@keyframes alien4Animation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  1% {
    transform: translateX(0px) rotate(15deg);
  }
  2% {
    transform: translateX(0px) rotate(15deg);
  }
  18% {
    transform: translateX(-121px) rotate(15deg);
  }
  34% {
    transform: translateX(0px) rotate(15deg);
  }
  50% {
    transform: translateX(161px) rotate(15deg);
  }
  66% {
    transform: translateX(0px) rotate(15deg);
  }
  82% {
    transform: translateX(-121px) rotate(15deg);
  }
  100% {
    transform: translateX(0px) rotate(15deg);
  }
}
@keyframes alien2Animation {
  0% {
    transform: translateX(0px) translateY(0px) rotate(349deg);
  }
  1% {
    transform: translateX(0px) translateY(0px) rotate(349deg);
  }
  2% {
    transform: translateX(0px) translateY(0px) rotate(349deg);
  }
  18% {
    transform: translateX(58px) translateY(51px) rotate(349deg);
  }
  34% {
    transform: translateX(-58px) translateY(-51px) rotate(349deg);
  }
  50% {
    transform: translateX(58px) translateY(51px) rotate(349deg);
  }
  66% {
    transform: translateX(-58px) translateY(-51px) rotate(349deg);
  }
  82% {
    transform: translateX(58px) translateY(51px) rotate(349deg);
  }
  100% {
    transform: translateX(-58px) translateY(-51px) rotate(349deg);
  }
}
